/*
	Global classes
					*/
body {
	background-image: url("../images/iphoneOL.png");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
	background-size: 360px 705px;
}

a {
	color: inherit;
	text-decoration: none; /* no underline */
}

#screen {
	/* border: 0.5px solid #C1C0C0; */
	height: 540px;
	width: 304px;
	margin: 80px 21px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-44 { font-size: 44px; }
.material-icons.md-48 { font-size: 48px; }


.head-bar {
	/* border: 0.5px solid black; */
	/* text-shadow: 1px 1px #000000; */
	text-align: center;

	color: #f7faf9;
	height: 60px;
	/* padding-bottom: auto;
	padding-top: auto; */
    background-color: MediumSeaGreen;

}

.head-bar i {
	/* border: 0.5px solid black; */
	padding-top: 12px;
	font-size: 40px;
	width: 30px;
	float: left;
	/* color: inherit;
	text-decoration: none; /* no underline */ */
}

.head-bar h1 {
	/* border: 0.5px solid black; */
	padding-top: 12px;
	font-size: 30px;
}

.today-body {
	height: 410px;
	width: inherit;
	/* margin-top: -20px; */
	border: 0.5px solid #d2d2d2;
}
.today-time {
	/* border: 0.5px solid black; */
	text-align: center;
	/* height: 18px; */
	margin-top: -4px;
	margin-bottom: -6px;
	/* padding-bottom: -15px; */
}

.today-item {
	border: 0.5px solid #d2d2d2;

	height: 50px;
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	/* color: #838786; */
	color: black;
	margin-top: 5px;
	/* padding-top: -10px; */
	background-color: #f7faf9;
	border-radius: 6px;
	box-shadow: 2px 2px 5px #888888;
	/* vertical-align: middle; */
}

.today-item img {
	/* border: 0.5px solid #C1C0C0; */
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	margin-right: 7px;
	width: 40px;
	height: 40px;
}

.today-item p {
	/* border: 0.5px solid black; */
	/* width: 170px; */
	/* height: 80px; */
	margin-top: 12px;
	/* padding-top: 12px; */
	/* margin-bottom: 10px; */
	font: 24px bold, sans-serif;

}

.foot-bar {
	height: 70px;
	color: #838786;
	background-color: #f7faf9;
	/* position: absolute;
	width: inherit;
	bottom: 12px; */
}


.tab-icon {
	/* border: 0.5px solid #C1C0C0; */
	height: 50px;
	width: 100%;
}

.tab-icon i {
	/* border: 0.5px solid #C1C0C0; */
	/* max-width:100%;
	height: auto; */
	padding-top: 6px;
	/* padding-left: 10px; */
	margin-left: 23px;
}

.tab-text {
	/* border: 0.5px solid #C1C0C0; */
	height: 20px;
	width: 100%;

}

.tab-text p {
	float: left;
	/* border: 0.5px solid #C1C0C0; */
	font-size: 16;
	margin-top: -3px;
	margin-left: 15px;
	width: 58px;
	text-align: center;
}

.item-info {
	/* border: 0.5px solid black; */
	height: 160px;
	width: inherit;
}

.item-info img {
	/* border: 0.5px solid black; */
	float: left;
	margin-top: 7px;
	margin-left: 10px;
	height: 130px;
	width: 130px;
	margin-right: 13px;
}

.item-info-name {
	/* border: 0.5px solid black; */
	margin-top: 18px;
	font-size: 24px;
	font-weight: bold;
}

.item-info-dose {
	/* border: 0.5px solid black; */
	margin-top: 8px;
	font-size: 22px;
	text-decoration: underline;
	/* font-weight: bold; */
	/* font-size: 24px; */
	font-style: italic;
}

.item-info-time {
	/* margin-top: 8px; */
	/* margin-bottom: 50px; */
	font-size: 20px;
}

.item-instruction-head {
	/* border: 0.5px solid black; */
	font-size: 24px;
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -15px;
}

.item-instruction-head p {
	/* border: 0.5px solid black; */
	width: 120px;
	float: left;
	margin-right: 10px;
	margin-top: 0px;
}
.item-instruction-head i {
	/* border: 0.5px solid black; */
	width: 25px;
	margin-top: 5px;
	/* float: left; */
}

.item-instruction-text {
	border: 0.5px solid #838786;
	font-size: 24px;
	height: 80px;
	margin-left: 10px;
	margin-right: 10px;
	/* margin-top: 10px; */
	text-align: left;
}
.item-instruction-text p {
	/* border: 0.5px solid black; */

	/* padding-top: -10px; */
}

.item-buttons {
	margin-top: 40px;
	/* border: 0.5px solid black; */
	width: 75%;
	height: 50px;
	/* margin-left: 10px; */
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.item-button-done {
	/* border: 0.5px solid black; */
  display: block;
  float: left;
  height: 35px;
  width: 95px;
  /* margin-left: 50px; */
  /* margin-right: auto; */
  border: none;
  background-color: MediumSeaGreen;
  color: white;
  /* padding: 14px 28px; */
  font-size: 22px;
  /* font-weight: bold; */
  /* cursor: pointer; */
  text-align: center;
  border-radius: 6px;
  padding-top: 2px;
  box-shadow: 2px 2px 5px #888888;
}

.item-button-yes {
	/* border: 0.5px solid black; */
  display: block;
  float: left;
  height: 35px;
  width: 95px;
  /* margin-left: 50px; */
  /* margin-right: auto; */
  border: none;
  background-color: MediumSeaGreen;
  color: white;
  /* padding: 14px 28px; */
  font-size: 22px;
  /* font-weight: bold; */
  /* cursor: pointer; */
  text-align: center;
  border-radius: 6px;
  padding-top: 2px;
  box-shadow: 2px 2px 5px #888888;
}

.item-button-dismiss {
  display: block;
  height: 35px;
  width: 95px;
  float: right;
  /* margin-left: 100px; */
  /* margin-right: 50px; */
  border: none;
  background-color: gray;
  color: white;
  /* padding: 14px 28px; */
  font-size: 22px;
  /* font-weight: bold; */
  /* cursor: pointer; */
  text-align: center;
  border-radius: 6px;
  padding-top: 2px;
  box-shadow: 2px 2px 5px #888888;
}

.item-button-cancel {
  display: block;
  height: 35px;
  width: 95px;
  float: right;
  /* margin-left: 100px; */
  /* margin-right: 50px; */
  border: none;
  background-color: gray;
  color: white;
  /* padding: 14px 28px; */
  font-size: 22px;
  /* font-weight: bold; */
  /* cursor: pointer; */
  text-align: center;
  border-radius: 6px;
  padding-top: 2px;
  box-shadow: 2px 2px 5px #888888;
}
/* Image Modal */







#thumbnail {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#thumbnail:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  box-sizing: border-box;
  margin:80px 29px;
  width: 305px; /* Full width */
  height: 541px; /* Full height */

  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}
.modal-content-text {
	padding-top: 150px;
  margin: auto;
  display: block;
  width: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption,.modal-content-text {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;

}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
@media only screen and (max-width: 700px){
  .modal-content-text {
    width: 100%;
  }
}